@import "@fortawesome/fontawesome-free/css/all.min.css";
/*Diseño general*/

/*color del navbar*/
.navbar{
background: linear-gradient(135deg, #43cea2, #185a9d);



}

.main-footer{
background: black
}

/*-------------------------------------------------------------------------------------------------------*/


/*Página principal*/

/*Imágenes del blog*/
.img-fluid{
    position: relative;
    margin-top: 15%;
}

/*Botón de inicia sesión del menú
.boton{
    justify-content: flex-end;
}

.resetPassword{
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
*/

/*-------------------------------------------------------------------------------------------------------*/

/*Dashboard*/

/*texto e imagen del sidebar*/


/*estilos para dashboard/intranet*/









